.heading{
    color: #00ff00;
}

.result{
    color: white;
}

.quiz{
    background-color: #00ff00c4;
}

.sub{
    color: #00ff00;
}

#flag-text{
    display: none;
}

.glug-flag{
    content: 'GLUG{1t_w4s_4n_e4sY_qU1z}';
}
